<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
            PasteBin - Online Text Saving Service
        </title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
            .card{
                align-items: center;
                display: flex;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            .navbar{
                opacity: 0.9;
                filter: alpha(opacity=90)
            }
    </style>
    <body background="{% static 'images/1.jpg' %}">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: 	#87ceeb">
            <div class="container">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link disabled" href="#"><b>Paste-Bin</b></a></li>
            <li class="nav-item active"><a class="nav-link" href="/"><b>Home</b></a></li>
            <li class="nav-item active"><a class="nav-link" href="/paste/publicpastes"><b>Public-Pastes</b></a></li>
            <li class="nav-item active"><a class="nav-link" href="/paste/yourdata"><b>New</b></a></li>
        </ul></div>
        </nav>
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>