{% extends "paste/base.html" %}

{% block body_block %}
<style>
.container{
                    opacity: 0.75;
                    filter: alpha(opacity=75)
                    
            }
</style>
    <div class="card" allign="center">
        <div class="card-body">
        <h5> Submit your Username and text :</h5>
        <form method='POST'>
            <table>
        {{ form.as_table }}
        {% csrf_token %}
        </table>
        <input class="btn btn-primary" type='submit' value="Submit">
        </form>
        </div>
    </div>
{% endblock %}
