{% extends "paste/base.html" %}

{% block body_block %}
        {% if input %}
        <style>
        .container{
                    opacity: 0.8;
                    filter: alpha(opacity=80)
                    
            }
        </style>
        <ul class="list-group">
            {%for item in input %}
            <li class="list-group-item active"><b><u>Username:</u></b> {{ item.Username }}</li>
            <li class="list-group-item"><b><u>Paste:</u></b> {{ item.Text }}</li>
            <hr class="my-3">
            {% endfor %}
        </ul>
        {% else %}
        <div class="alert alert-danger" role="alert">
            There is no pastes as of yet!
        </div>
        {% endif %}
{% endblock %}